<h1>番号</h1>
<p><%= @findlist.id %></p>

<h2>タイトル</h2>
<span><%= @findlist.title %></span>

<div>
  <h3>本文</h3>
  <%= @findlist.body %>
</div>

<div>
  <h4>画像</h4>
    <% if @findlist.image.attached? %>
      <%= image_tag @findlist.image, size: "300x300" %>
    <% else %>
      <%= image_tag 'no_image', size: "300x300" %>
    <% end %>
</div>

<%= link_to '編集するところ',edit_list_path %>
<%= link_to '投稿一覧', '/lists' %>
<%= link_to '投稿画面へ',new_list_path %>
<%= link_to '削除', list_path, method: :delete, "data-confirm" => "ほんまに削除するんけ？" %>